logscale_url: "https://cloud.community.humio.com" # or https://cloud.humio.com

repository:
  your_repo_name:
    token: ffffffff-ffff-ffff-ffff-ffffffffffff # repo ingest token

api:
  api_call_1:
    name: "Your API identifier"
    url: "https://httpbin.org/json"
    to_repository: your_repo_name # must match the name of the repo
    interval:
      min: 1
